Combine Images Nanobanana.json
{
  "name": "Combine Images Nanobanana",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af9796c0-cab6-4e66-9519-6517cd3bb30f",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "5eb5b578-ecbf-44b7-891b-6fee58117b73",
              "name": "message",
              "value": "AI image created and uploaded successfully.",
              "type": "string"
            },
            {
              "id": "4f7297fa-976f-4f32-88fe-2acbca452f5b",
              "name": "fileName",
              "value": "{{$json[\"name\"]",
              "type": "string"
            },
            {
              "id": "f0efbe3d-c61c-4968-8568-ebd60768e29a",
              "name": "fileUrl",
              "value": "{{$json[\"webViewLink\"]}}",
              "type": "string"
            },
            {
              "id": "936bd4f1-f15e-4bae-9a2f-9a116e70527f",
              "name": "fal_request_id",
              "value": "{{$json[\"request_id\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        592
      ],
      "id": "c3e3eccc-1d00-4dfc-9086-e7d0ad0b9e19",
      "name": "Return Data"
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        640
      ],
      "id": "df1c3ea9-6410-4d40-8de8-7cd7fb65a077",
      "name": "Get Result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "C656mLtRZh0Uhg3G",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -16,
        608
      ],
      "id": "6ed80aa9-81ff-4b11-b398-beb2cd20ff89",
      "name": "10 Seconds",
      "webhookId": "caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"
    },
    {
      "parameters": {
        "content": "## Polling",
        "height": 224,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        96,
        784
      ],
      "id": "f4da784b-0759-4976-9d23-d79e3eb5fc42",
      "name": "Sticky Note3"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        144,
        848
      ],
      "id": "d9164094-335f-43cb-8b38-e994ed30a840",
      "name": "5 Seconds",
      "webhookId": "5f6bbd1e-a155-48de-b737-a225c6fd7a84"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -432,
        608
      ],
      "id": "f7cc6141-70f5-402c-a01c-e793cb6d17ec",
      "name": "Get URL1",
      "credentials": {
        "httpQueryAuth": {
          "id": "4IojrYsg8g3NYcxX",
          "name": "imgbb"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6831d021-c2d0-42a4-b625-aabfed3d170b",
              "name": "images",
              "value": "=['{{ $json.image1 }}','{{ $json.image2 }}']",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        608
      ],
      "id": "9b4f3b03-2ffb-4728-8431-991924d25f43",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "images",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -688,
        608
      ],
      "id": "393c80f0-9223-47a8-8774-9a9d803cfa0f",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.images }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -560,
        608
      ],
      "id": "f277582f-8b04-444e-8756-be4c0c1f55f9",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -304,
        608
      ],
      "id": "686b13e7-d321-489d-9390-7691e602c43e",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "key ab24aaf6-9566-4154-a8c2-7fcfbdecc026:334749ec17d923546489c2852776274a"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        608
      ],
      "id": "149f5a2b-dc7f-4293-8c0b-553f36cd5ffe",
      "name": "Create Image1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "C656mLtRZh0Uhg3G",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        608
      ],
      "id": "cf2a11ad-756a-4411-b2ac-caa4f2c2ce7e",
      "name": "Download Image1"
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 224,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1056,
        544
      ],
      "id": "dc3bc01c-7e8e-4abb-9dce-e4454af5d95e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Download File URLs",
        "height": 224,
        "width": 544,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        544
      ],
      "id": "8ede358d-a5fa-4244-a42d-bdea9de9e923",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Create AI Image",
        "height": 224,
        "width": 448,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        544
      ],
      "id": "d223a882-7b12-421d-9914-3a9e73f9d123",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Output",
        "height": 224,
        "width": 432,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        544
      ],
      "id": "1337e499-3e79-40fe-8c1c-b51ff62113b3",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.imageTitle }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13md31n1JkQ4bjrVdMxRV-lmTofdLk22k",
          "mode": "list",
          "cachedResultName": "Ai image generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13md31n1JkQ4bjrVdMxRV-lmTofdLk22k"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        608
      ],
      "id": "83fb38b0-8e58-48bb-b7f0-2e2bc95dc954",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "prompt"
            },
            {
              "name": "image1"
            },
            {
              "name": "image2"
            },
            {
              "name": "imageTitle"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1072,
        608
      ],
      "id": "dfa4f664-36f6-4738-87c6-6529e7261690",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -144,
        800
      ],
      "id": "bb70e71d-309c-4f4b-8835-952843aa8441",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "Hs31Zd6iR3aQthDj",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get Result": {
      "main": [
        [
          {
            "node": "Download Image1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Get URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Create Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Return Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image1": {
      "main": [
        [
          {
            "node": "10 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "05d739f6-e414-48a2-9591-04e5bcbaed4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bb6485c0f00620fac2efd94cb020ba620587a687b4ec5b4af4006cd5889361d"
  },
  "id": "J5Dn3ryGU5q6ozu6",
  "tags": []
}