Edit Image Nanobanana Tool.json
{
  "name": "Edit Image Nanobanana Tool",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "imageTitle"
            },
            {
              "name": "imagePrompt"
            },
            {
              "name": "imageID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        544,
        -48
      ],
      "id": "33554f91-94ca-4280-8e1d-817fad397a53",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        -48
      ],
      "id": "cde84555-7182-4b8a-9f7b-68bfd40a7496",
      "name": "Get URL",
      "credentials": {
        "httpQueryAuth": {
          "id": "4IojrYsg8g3NYcxX",
          "name": "imgbb"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.imageID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        -48
      ],
      "id": "f02ed5fb-9f5b-448c-bf0c-e2023e7b3fe4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/nano-banana/edit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ \n  $('When Executed by Another Workflow').item.json.imagePrompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data.url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1024,
        -48
      ],
      "id": "ffe4e362-8a21-43b7-9482-15c4f14f3266",
      "name": "Create Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DPcVfFlemjZoODJ5",
          "name": "Header Auth account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://queue.fal.run/fal-ai/nano-banana/requests/{{ $json.request_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        -48
      ],
      "id": "3aa68d15-6d75-46ac-af43-0cfee088bbcb",
      "name": "Get Result",
      "credentials": {
        "httpHeaderAuth": {
          "id": "C656mLtRZh0Uhg3G",
          "name": "Header Auth account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c66c7c13-57ca-4191-9af3-5ab306dfedfc",
              "name": "Response",
              "value": "=The image was created and named \"{{ $json.name }}\". \n\nHere is the link to the image in Google Drive: {{ $json.webViewLink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1776,
        -48
      ],
      "id": "a0e95983-c9ab-45e1-8b6b-bcdb4ef08cbc",
      "name": "Result"
    },
    {
      "parameters": {
        "url": "={{ $json.images[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        -48
      ],
      "id": "4fa2f7de-2b71-4de7-ae22-d5e2c89d41c4",
      "name": "Download Image"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1152,
        -48
      ],
      "id": "c844d1a7-e982-4305-a44f-b423607aa8ed",
      "name": "10 Seconds",
      "webhookId": "caad73e3-58d8-4fbd-a3e9-c42424f2d1ee"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.imageTitle }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "13md31n1JkQ4bjrVdMxRV-lmTofdLk22k",
          "mode": "list",
          "cachedResultName": "Ai image generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13md31n1JkQ4bjrVdMxRV-lmTofdLk22k"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1632,
        -48
      ],
      "id": "b75ff012-89eb-40b6-85df-00a80c073668",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Input",
        "height": 224,
        "width": 176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -112
      ],
      "id": "8e7048ca-a3e2-41e7-9806-91e52b0ac233",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Download File URL",
        "height": 224,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        -112
      ],
      "id": "935c5063-a91a-462e-b204-032cc95577c1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Create AI Image",
        "height": 224,
        "width": 432,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        -112
      ],
      "id": "940ca9df-0d91-42dc-bf73-6e1cc6ad8720",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Polling",
        "height": 224,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1232,
        128
      ],
      "id": "7a3a953b-258c-4548-8074-abe4589cbf39",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Output",
        "height": 224,
        "width": 464,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -112
      ],
      "id": "879db528-b587-411f-81b2-2766a39f0570",
      "name": "Sticky Note4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        208
      ],
      "id": "663842f8-f606-491e-810e-a9e793375b60",
      "name": "5 Seconds",
      "webhookId": "5f6bbd1e-a155-48de-b737-a225c6fd7a84"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get URL": {
      "main": [
        [
          {
            "node": "Create Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "main": [
        [
          {
            "node": "10 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Result": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5 Seconds": {
      "main": [
        [
          {
            "node": "Get Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b26c04b9-42d0-402f-a546-d96eb0e85924",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bb6485c0f00620fac2efd94cb020ba620587a687b4ec5b4af4006cd5889361d"
  },
  "id": "qMedI9yjn3npFept",
  "tags": []
}