Nano Photoshop Agent.json
{
  "name": "Nano Photoshop Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        1008,
        128
      ],
      "id": "5cf06c97-b112-4edf-86c4-394fd225435a",
      "name": "Telegram Trigger",
      "webhookId": "bea4843e-25e4-4d89-b3f6-4237798e9b42",
      "credentials": {
        "telegramApi": {
          "id": "UIY1BZmsXPYpkLoH",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e7211e46-0f49-46a0-9cb7-e83fed150efd",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "85edf561-8f5e-4215-9e19-78ff0392068e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1136,
        128
      ],
      "id": "434470e6-a399-4247-91e3-6ed1dfdfa19b",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[1].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        64
      ],
      "id": "542aaaa4-edb4-4e5d-bc70-3c8b2d22b81a",
      "name": "Download File",
      "webhookId": "fb18f65f-c1cf-4473-b59d-d59d6b96e9ea",
      "credentials": {
        "telegramApi": {
          "id": "UIY1BZmsXPYpkLoH",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $now.format('yyyy-MM-dd') }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1GHJsObPHHsQ54_M1xIoFWpx0kGBFUJhz",
          "mode": "list",
          "cachedResultName": "Pictures",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1GHJsObPHHsQ54_M1xIoFWpx0kGBFUJhz"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        64
      ],
      "id": "45aaed8c-98dd-4e62-8cdf-9cd8d20035e2",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "53de4eb0-6684-48f5-a5b5-2b3bedaff817",
              "name": "message.text",
              "value": "=The user just submitted a picture. Here is the ID of that file in Google Drive: {{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        64
      ],
      "id": "278cd922-3ec5-4b73-b28e-841fccc4af9e",
      "name": "Set Text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are a Personal Assistant AI Agent specialized in managing, generating, and editing images. Your main role is to help the user perform actions such as creating new AI-generated images, renaming uploaded photos, combining multiple images, and editing images — including adding, modifying, or removing text. You should always aim to clearly understand the user’s intent before taking any action and confirm details only when necessary or unclear.\n\n🧰 Available Tools\n\nGenerate Image – Create a new image automatically based on the user’s prompt.\nYou must interpret the description and generate a visually suitable and contextually accurate image.\nExample: If the user says, “generate suitable theyyam figure images,” you must autonomously generate AI-based images that depict authentic and visually appealing theyyam figures without needing further confirmation, unless clarification is required.\n\nChange Name – Rename a photo using its file ID.\n\nCombine Images – Merge two or more images either side-by-side, stacked vertically, or as overlays.\n\nSearch Raw Files – Search for image files that the user has previously uploaded.\n\nSearch AI Images – Search for AI-generated images that you have created for the user.\n\nEdit Image – Edit or enhance an image by adding new text, modifying or removing existing text, adjusting brightness or background, adding overlays, annotations, or performing other enhancement tasks.\n\n🧩 Core Behavior Rules\n\nWhen the user provides a text prompt to generate an image:\n\nAutomatically interpret the prompt and use the Generate Image tool to create a new AI image based on the provided description.\n\nThe image should be visually suitable, accurate, and aligned with the cultural or contextual meaning of the prompt (e.g., “theyyam figure,” “temple scene,” “festival background,” etc.).\n\nDo not ask for confirmation unless the prompt is ambiguous or incomplete.\n\nWhen a user uploads a photo:\n\nAsk: “What would you like me to name this photo in your Google Drive?”\n\nOnce they respond, use the Change Name tool to rename it.\n\nWhen a user requests to edit or add text to an image:\n\nConfirm the exact text, its position (e.g., top left, center, bottom), and any style preferences such as font, color, or size.\n\nIf unclear, ask follow-up questions before editing.\n\nThen use the Edit Image tool to perform the required text modification.\n\nWhen a user requests to remove or replace text:\n\nConfirm the text to remove or the new text to insert.\n\nThen use the Edit Image tool to apply the change.\n\nWhen the user asks to combine images:\n\nConfirm the desired layout (e.g., side-by-side, vertical, or overlay).\n\nThen use the Combine Images tool.\n\nWhen the user refers to an existing image by name:\n\nLocate it first using Search Raw Files or Search AI Images.\n\nThen proceed with the requested action.\n\nWhen instructions are unclear:\n\nNever guess. Ask a short, specific clarification question before acting.\n\n🧠 Example Behaviors\n\nUser: “Generate suitable theyyam figure images.”\n→ Action: Automatically create multiple AI-generated theyyam figure images that match the artistic and cultural style of traditional theyyam performances.\n\nUser: “Add the text ‘Welcome to Kerala’ at the bottom of this image.”\n→ Action: Confirm style details, then use Edit Image to add the text.\n\nUser: “Change the word ‘Festival’ to ‘Celebration’.”\n→ Action: Confirm placement, then use Edit Image to replace text.\n\nUser: “Combine the temple image and the theyyam photo.”\n→ Action: Confirm layout, then use Combine Images to complete the task.\n\n✅ Guidelines\n\nAlways act politely, concisely, and confidently.\n\nMaintain the original quality and composition of the image.\n\nUse clean, readable text styles by default when adding or editing text.\n\nWhen generating new images, ensure they are realistic, contextually appropriate, and visually consistent with the user’s prompt.\n\nOnly ask clarifying questions if the user’s input lacks sufficient detail to proceed safely.\n\nPrioritize accuracy, cultural context, and visual balance in every generated or edited image.",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1744,
        144
      ],
      "id": "fd419924-47a8-411d-bee0-4bada3c7d2ef",
      "name": "Photoshop Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        256
      ],
      "id": "44e7b80b-76aa-4a03-afdc-60d356c2b62d",
      "name": "Respond",
      "webhookId": "f9df111e-1004-4aff-b458-779444006ed8",
      "credentials": {
        "telegramApi": {
          "id": "UIY1BZmsXPYpkLoH",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_to_Update', ``, 'string') }}"
        },
        "newUpdatedFileName": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        1728,
        448
      ],
      "id": "1313b32c-bb3d-4916-859c-dfe4f55bfb65",
      "name": "Change Name",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to combine two images. You must pass over an image generation prompt, the IDs of both of the images, and a title for this new image.",
        "workflowId": {
          "__rl": true,
          "value": "J5Dn3ryGU5q6ozu6",
          "mode": "list",
          "cachedResultName": "Combine Images Nanobanana"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt', `The image generation prompt. This should be optimized for AI image generation, and should only reference the images as image1 and image2. This prompt should not contain \\\\n or \"\".`, 'string') }}",
            "image1": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image1', `The ID of image 1`, 'string') }}",
            "image2": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image2', `The ID of image 2`, 'string') }}",
            "imageTitle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title for the new image`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image1",
              "displayName": "image1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "image2",
              "displayName": "image2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imageTitle",
              "displayName": "imageTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1424,
        448
      ],
      "id": "f1353f24-4983-40e1-921d-36826dbea249",
      "name": "Combine Images"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1GHJsObPHHsQ54_M1xIoFWpx0kGBFUJhz",
            "mode": "id"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        1888,
        448
      ],
      "id": "dd0cb8e6-925e-4f9d-a54c-17a9a843304e",
      "name": "Search Raw Files",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "13md31n1JkQ4bjrVdMxRV-lmTofdLk22k",
            "mode": "list",
            "cachedResultName": "Ai image generation",
            "cachedResultUrl": "https://drive.google.com/drive/folders/13md31n1JkQ4bjrVdMxRV-lmTofdLk22k"
          },
          "whatToSearch": "files"
        },
        "options": {
          "fields": [
            "id",
            "name",
            "webViewLink"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        2048,
        448
      ],
      "id": "86be0719-0165-45aa-8b0b-264dcf9a1af2",
      "name": "Search AI Images",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ihBDwE13n1UdRxW8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to edit an image. You must pass over a new image title, an image prompt, and the image ID. ",
        "workflowId": {
          "__rl": true,
          "value": "qMedI9yjn3npFept",
          "mode": "list",
          "cachedResultName": "Edit Image Nanobanana Tool"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "imageTitle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title of the new image`, 'string') }}",
            "imagePrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `The image generation prompt. This should be detailed and optimized for AI image generation. This prompt should not contain \\\\n or \"\".`, 'string') }}",
            "imageID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageID', `The ID of the image to edit`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageTitle",
              "displayName": "imageTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imagePrompt",
              "displayName": "imagePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "imageID",
              "displayName": "imageID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1568,
        448
      ],
      "id": "b31f1891-4e8e-423b-8c02-712c4ac452f1",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 9
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1264,
        448
      ],
      "id": "a7a34839-c0e5-41ef-8db1-153663d7c4dd",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        448
      ],
      "id": "69b56a3d-90e9-43e3-b474-bb980a36deaf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Hs31Zd6iR3aQthDj",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1120,
        448
      ],
      "id": "2bbb10ff-9448-4db9-99ed-5132022d0392",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uvfxPmJtRHpWtzR1",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v23.0/17841478075900615/media_publish",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\":\"{{ $('Upload the Image').item.json.id }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3824,
        208
      ],
      "id": "5fca545f-a674-4e3d-9e98-ebe75648dba0",
      "name": "Publish the content"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v23.0/17841478075900615/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $('Cloudinary').item.json.secure_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        208
      ],
      "id": "34037d77-85f4-401a-9b38-4de7fa868af0",
      "name": "Upload the Image"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1dW99KkRdRV7x39eeusj-Ha4l_hLdSQPvd4294ZloIdw",
          "mode": "list",
          "cachedResultName": "Instagram automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dW99KkRdRV7x39eeusj-Ha4l_hLdSQPvd4294ZloIdw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dW99KkRdRV7x39eeusj-Ha4l_hLdSQPvd4294ZloIdw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MEDIA_ID": "={{ $('Upload the Image').item.json.id }}",
            "STATUS": "PUBLISHED"
          },
          "matchingColumns": [
            "MEDIA_ID"
          ],
          "schema": [
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "MEDIA_ID",
              "displayName": "MEDIA_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4016,
        208
      ],
      "id": "4825ea72-bceb-439c-8f99-88335ae757c0",
      "name": "Update status to PUBLISH"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.files[0].id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2736,
        224
      ],
      "id": "14991e68-931b-4118-86b9-1fa59dc4e754",
      "name": "Download file",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dyghf61h9/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "automation_n8n_732"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2928,
        224
      ],
      "id": "34151067-dcfc-424d-ad0b-2ea57e76c932",
      "name": "Cloudinary"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "'1WI5spJ8YSO3bp_zJWv8vWMhDhdwbwiJI' in parents and trashed = false and mimeType contains 'image/'"
            },
            {
              "name": "orderBy",
              "value": "=createdTime desc"
            },
            {
              "name": "pageSize",
              "value": "=1"
            },
            {
              "name": "fields",
              "value": "files(id,name,mimeType,createdTime,parents)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2560,
        224
      ],
      "id": "43acc85f-ccaf-4ef6-9f05-95df79b4f93f",
      "name": "Google drive"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dW99KkRdRV7x39eeusj-Ha4l_hLdSQPvd4294ZloIdw",
          "mode": "list",
          "cachedResultName": "Instagram automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dW99KkRdRV7x39eeusj-Ha4l_hLdSQPvd4294ZloIdw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dW99KkRdRV7x39eeusj-Ha4l_hLdSQPvd4294ZloIdw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MEDIA": "={{ $('Cloudinary').item.json.secure_url }}",
            "MEDIA_ID": "={{ $json.id }}",
            "STATUS": "PENDING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "MEDIA",
              "displayName": "MEDIA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "MEDIA_ID",
              "displayName": "MEDIA_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3632,
        208
      ],
      "id": "9a8f1e6a-8a24-4467-9689-2bb09bf47a07",
      "name": "Append row in sheet"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $('Google drive').item.json.files[0].name }}"
            },
            {
              "content": "=You are skilled at closely analyzing a single image and crafting a detailed caption based on what you see. Describe the main subject, colors, mood, and any interesting details that stand out. Write a clear, engaging caption that helps viewers understand and appreciate the image without using technical or ‘artsy’ language. Make it relatable and suitable for an Instagram audience, encouraging people to connect with the image and respond in the comments. The caption should be vivid, straightforward, and stand on its own as a description of the image, capturing its essence in a way that feels authentic and inviting. Do not use emojis. Do not add hashtags. Do not add quotes. Use fewer adjectives."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        3104,
        96
      ],
      "id": "ab98ae0a-7ca6-4314-ae3c-6c3be6d5f694",
      "name": "Generate Captions"
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2352,
        304
      ],
      "id": "4f81c58b-7c65-4056-9610-879afc36d248",
      "name": "Wait",
      "webhookId": "3d9b93ac-6d3f-428f-b067-816231f5b34e"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Photoshop Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Set Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Text": {
      "main": [
        [
          {
            "node": "Photoshop Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photoshop Agent": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Name": {
      "ai_tool": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Combine Images": {
      "ai_tool": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Raw Files": {
      "ai_tool": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search AI Images": {
      "ai_tool": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "ai_tool": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Photoshop Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Publish the content": {
      "main": [
        [
          {
            "node": "Update status to PUBLISH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the Image": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Cloudinary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary": {
      "main": [
        [
          {
            "node": "Generate Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google drive": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Publish the content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Captions": {
      "main": [
        [
          {
            "node": "Upload the Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Google drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "19f4f553-8f84-4486-979c-87f4b29b1ec1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2bb6485c0f00620fac2efd94cb020ba620587a687b4ec5b4af4006cd5889361d"
  },
  "id": "XI9LtiJkxdZHdLrA",
  "tags": []
}